<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="angularjs.TypeScript.DefinitelyTyped" version="1.9.1" targetFramework="net45" />
  <package id="angular-ui-bootstrap.TypeScript.DefinitelyTyped" version="0.0.2" targetFramework="net45" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="1.3.3" targetFramework="net45" />
  <package id="spin.TypeScript.DefinitelyTyped" version="0.1.3" targetFramework="net45" />
  <package id="toastr.TypeScript.DefinitelyTyped" version="0.1.0" targetFramework="net45" />
</packages>